span,
h1,
h2 {
    font-style: italic;
    background-color: red;
}
ol li {
  list-style-image: url(icon.png);
  color: aqua;
}
li:hover{
  filter: hue-rotate(90deg);
}
h1 a[href^='https']{
  color: blue;
}
form[action$='.php']{
  background-color: cyan;
}
h1 a:hover,a:hover{
  color:silver; 
}
.mar{
  border: 10px solid red;
  margin: 30px;
  width: 100px;
  box-sizing: content-box;
  position: fixed;
}
.item1{
  width: 100px;
  height: 100px;
  background-color: crimson;
  float: left;
}
.item2{
  width: 100px;
  height: 100px;
  background-color: aqua;
  float: right;
}
.item3{
  height: 100px;
  background-color: violet;

}

body{
  font-family: "Roboto", sans-serif;
  text-decoration: underline overline;
}

.but:focus{
  outline: red solid 10px;
}

.round{
  width: 100px;
  height: 100px;
  background-color: silver;
  padding: 60px;
  margin: 40px;
  border-radius: 50px;
}

.wrapper{
  min-height: 100vh;
  width: 100%;

 /* background-image: linear-gradient(45deg, yellow 25px, black 25px, black 50px, yellow 50px, yellow 75px, black 75px);*/
  background: linear-gradient(45deg,yellow 25px, black 25px, black 50px, yellow 50px);
}
.trans{
  margin: 40px;
  width: 200px;
  height: 200px;
  background: aqua;
  border: solid black 5px;
  transition-duration: 500ms, 2s;
  transition-property: transform, background;
}
.trans:hover{
  background: radial-gradient(aqua,crimson);
  transform: scale(0.5);
}

.trans2{
  margin: 40px;
  width: 200px;
  height: 200px;
  border: solid black 5px;
  animation-play-state: paused;
  animation-name: Anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.trans2:hover{
  animation-play-state: running;
}

@keyframes Anim{
  from{
    background: olive;
  }
  25%{
    background: linear-gradient(black,yellow);
  }
  50%{
    transform: scale(1,4);
  }
  to{
    background: white;
    transform: scale(1,2);
  }
}

table,
table *{
  border: solid black 5px;
  margin-left: 40px;
  max-width: 200px;
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  cursor: wait;
}
table caption{
  margin-left: 0px;
}

.cont{
  border: 10px solid black;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: space-between;
}

.items{
  text-align: center;
  background: crimson;
  border: 5px red;
  border-style: ridge;
  padding: 20px;
  width: calc(33.33% - 60px);
  font: 500 60px normal;
}

.fitem1{
  color: olive;
  flex-shrink:3;
}


.cont2{
  margin-top: 10px;
  display:flex;
  border: solid green 10px;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
  height:200px;
  align-content: space-between;
}
  
.items2{
  border: solid 5px black;
  text-align: center;
  color: white;
  flex-basis: 100px;
  flex-grow:3;
  background: blue;
  font: 500 60px normal;
}

.fitem21{
  flex-shrink:3;
}

.grid{
  border: 10px dotted aqua;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 10px;
  align-items: center;
  
}
.grid-items{
  background-color: red;
  border: solid 5px black; 
}

.grid1{
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
  justify-self: center;
}

.grid2{
  color: yellow;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
@media screen and (max-width: 600px){
  .cont{
    flex-direction: column-reverse;
  }
  .cont2{
  flex-direction: row;
  }
}
